@model IEnumerable<StarIceCream.Models.EnquiryInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>All Enquiries </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnquiryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EnquiryDate)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.EnquiryID">Details</a> |
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.EnquiryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
